@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@source "../views";

:root {
  --font-base: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  background-color: #111827;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}
